templates_c/*
cache/*
/htdocs/vendor/bootstrap/
/htdocs/vendor/datatables/
!/htdocs/vendor/datatables/i18n/
/htdocs/vendor/font-awesome/
/htdocs/vendor/jquery/
composer.lock
tests/.phpunit.result.cache
conf/config.inc.local.php
