Source: ltb-project-white-pages
Section: web
Priority: extra
Maintainer: Clement Oudot <clem@ltb-project.org>
Build-Depends: debhelper (>= 7)
Rules-Requires-Root: binary-targets
Standards-Version: 3.8.3
Homepage: https://ltb-project.org/documentation/white-pages.html

Package: white-pages
Depends: php-ldap, php-gd, php-fpm (>= 7.3), smarty4 | smarty3
Suggests: php-apcu
Architecture: all
Description: LDAP white pages web interface
 White Pages is a PHP application that allows users to search and display data stored in an LDAP directory. 
 White Pages is provided by LDAP Tool Box project: https://ltb-project.org
 White Pages bundles some dependencies:
 - js-bootstrap = v5.3.6
 - js-jquery = v3.7.1
 - js-datatables.net-datatables.net = 2.3.6
 - js-datatables.net-datatables.net-bs5 = 2.0.8
 - js-datatables.net-datatables.net-buttons = 3.2.6
 - js-datatables.net-datatables.net-buttons-bs5 = 3.0.2
 - fontawesome-fonts = 6.5.2
 - php-ltb-project-ltb-common = 0.6.2
 - php-bjeavons-zxcvbn-php = 1.4.2
 - php-guzzlehttp-guzzle = 7.10.0
 - php-guzzlehttp-promises = 2.3.0
 - php-guzzlehttp-psr7 = 2.8.0
 - php-mxrxdxn-pwned-passwords = 2.1.0
 - php-phpmailer = 6.12.0
 - php-psr-http-client = 1.0.3
 - php-psr-http-factory = 1.1.0
 - php-psr-http-message = 2.0
 - php-ralouphie-getallheaders = 3.0.3
 - php-symfony-deprecation-contracts = 2.5.4
 - php-symfony-polyfill = v1.33.0
 - php-symfony-deprecation-contracts = v2.5.4
 - php-symfony-var-exporter = v5.4.45
 - php-psr-container = 1.1.2
 - php-symfony-service-contracts = v2.5.4
 - php-psr-cache = 1.0.1
 - php-symfony-cache-contracts = v2.5.4
 - php-psr-log = 1.1.4
 - php-symfony-cache = v5.4.46
 - php-predis-predis = v2.4.1

