Source: ltb-project-white-pages
Section: web
Priority: extra
Maintainer: Clement Oudot <clem@ltb-project.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://ltb-project.org/wiki/documentation/white-pages

Package: white-pages
Depends: php5|php, php5-ldap|php-ldap, smarty3
Architecture: all
Description: LDAP white pages web interface
 White Pages is a PHP application that allows users to search and display data stored in an LDAP directory. 
 White Pages is provided by LDAP Tool Box project: http://ltb-project.org
