Source: ltb-project-white-pages
Section: web
Priority: extra
Maintainer: Clement Oudot <clem@ltb-project.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: https://ltb-project.org/documentation/white-pages.html

Package: white-pages
Depends: php, php-ldap, php-gd
Suggests: php-apcu
Architecture: all
Description: LDAP white pages web interface
 White Pages is a PHP application that allows users to search and display data stored in an LDAP directory. 
 White Pages is provided by LDAP Tool Box project: https://ltb-project.org
