#!/usr/bin/make -f

export DH_VERBOSE=1
export DH_COMPAT=9

%:
	dh $@

override_dh_fixperms:
	dh_fixperms
	chown www-data:www-data debian/white-pages/usr/share/white-pages/cache
	chown www-data:www-data debian/white-pages/usr/share/white-pages/templates_c
